@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {box-sizing: border-box;}

body {color: #333;font-family: 'Montserrat', sans-serif; font-weight: 400 ; font-size: 20px; margin: 25px;}

h1 { font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 40px;}

h2 {background-color: aqua; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 12px;
     display: inline-block;}


img {
    width: 50px;height: auto;
}

div {
    width: 200px; border:1px solid gray; text-align: center; padding:20px; margin: bottom 10px;

}